{% extends "account_base.html" %}
{% block title %}Каналы{% endblock %}

{% block content %}
<h2>Список каналов</h2>

<form method="get">
    <input type="text" name="q" value="{{ query }}" placeholder="Поиск по названию..."
       style="width: 945px; max-width: none;">
    <button type="submit">Поиск</button>
    <button type="button" onclick="location.href='{% url 'add_channel' %}'">+</button>


    {% if is_advanced %}
        <label>
            <input type="checkbox" name="my" {% if only_my %}checked{% endif %} onchange="this.form.submit()">
            Мои каналы
        </label>
    {% endif %}

</form>

<ul>
    {% for channel in channels %}
        <li class="channel-item">
            <a href="{% url 'channel_detail' channel.id %}" class="channel-link">
                {% if channel.photo %}
                  <img src="{{ channel.photo.url }}" alt="Channel photo">
                {% endif %}
                <div class="channel-info">
                    <span style="font-weight: 600; margin-right: 6px;">{{ channel.name }}</span>
                    <span style="font-weight: normal; color: #666;">@{{ channel.username }}</span>
                </div>
            </a>
            <form method="post" action="{% url 'delete_channel' channel.id %}" class="delete-form">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        </li>
    {% empty %}
    <div style="
        text-align: center;
        padding: 80px 20px;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
        margin-top: 30px;
    ">
        <h3 style="font-size: 24px; color: #2e3a59; margin-bottom: 15px;">Каналы не найдены</h3>
        <p style="font-size: 16px; color: #666;">Попробуйте изменить условия поиска или добавьте новый канал.</p>
        <button onclick="location.href='{% url 'add_channel' %}'" style="margin-top: 20px;">Добавить канал</button>
    </div>
    {% endfor %}
</ul>
{% endblock %}
